{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<style>
    .container
    {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    }
    .mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.p-3 {
  padding: $spacer !important;
}
h1.heading {
  align: center;
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.table{
  min-height:170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color:rgba(0,0,0,1);
  letter-spacing: .05rem;
  font-family: 'Oswald', sans-serif;
  box-shadow: 0 0 21px rgba(0,0,0,.27);
  .txt{
    margin-left:-3rem;
    z-index: 1;
    h1{
      font-size:1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    p{
      font-size:.7rem;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0rem;
      margin-top:33px;
      opacity:0;
      color:rgba(255,255,255,1);
    }
  }
  a{
    z-index:3;
    font-size: .7rem;
    color:rgba(0,0,0,1);
    margin-left:1rem;
    position:relative;
    bottom: -.5rem;
    text-transform: uppercase;
    &:after {
      content:"";
      display: inline-block;
      height: 0.5em;
      width: 0;
      margin-right: -100%;
      margin-left: 10px;
      border-top: 1px solid rgba(255,255,255,1);
      transition: .5s;
    }
  }
  .ico-card{
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  i{
    position: relative;
    right: -50%;
    top:60%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color:rgba(255,255,255,1);
    z-index: 0;
   }
}
.column{
  margin-top:3rem;
  padding-left:3rem;
  &:hover{
    padding-left:0;
    .card .txt{
      margin-left:1rem;
      h1, p{
        color:rgba(255,255,255,1);
        opacity:1;
      }
    }
    a{
      color:rgba(255,255,255,1);
      &:after{
      width: 10%;
      }
    }
  }
}
</style>
<div class="container">
   <div class="border rounded p-4 m-4 column" style="background-color: white">

        <h1 class="heading">
                YOUR CART
            </h1>
        <hr>
        <table class="table" style="background-color: #7FFFD4">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Remove</th>
                    <th>Quantity</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                    <form method="POST">
                        {% csrf_token %}
                    <td>
                        <input hidden type="text" name="one1" value="{{product.id}}">
                        <input type="submit" name="one" value="-">
                    </td>
                    </form>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <form method="POST">
                        {% csrf_token %}
                    <td>
                        <input hidden type="text" name="add" value="True">
                        <input hidden type="text" name="one1" value="{{product.id}}">
                        <input type="submit" name="one" value="+">
                    </td>
                    </form>
                </tr>

                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3" method="POST">
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-info border rounded  col-lg-3 float-right">Check out</a>
        </div>
   </div>
</div>





<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>

                  <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check out">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" style="background-color: #DDA0DD">

                <!-- Grid column -->
                <div class="col-md-12">

                    <!--Footer-->
                    <footer class="page-footer deep-purple center-on-small-only pt-0">

                        <!--Footer Links-->
                        <div class="container">

                            <!--Grid row-->
                            <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

                                <!--Grid column-->
                                <div class="col-md-2 mb-3">
                                    <h6 class="title font-bold"><a href="#!">About us</a></h6>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-2 mb-3">
                                    <h6 class="title font-bold"><a href="#!">Products</a></h6>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-2 mb-3">
                                    <h6 class="title font-bold"><a href="#!">Awards</a></h6>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-2 mb-3">
                                    <h6 class="title font-bold"><a href="#!">Help</a></h6>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-2 mb-3">
                                    <h6 class="title font-bold"><a href="#!">Contact</a></h6>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <hr class="rgba-white-light" style="margin: 0 15%;">

                            <!--Grid row-->
                            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                                <!--Grid column-->
                                <div class="col-md-8 col-12 mt-5">
                                    <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                        aut fugit, sed quia consequuntur.</p>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

                            <!--Grid row-->
                            <div class="row pb-3">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="footer-socials mb-5 flex-center">
                                        <!--Facebook-->
                                        <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                                        <!--Twitter-->
                                        <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mx-md-4"> </i></a>
                                        <!--Google +-->
                                        <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mx-md-4"> </i></a>
                                        <!--Linkedin-->
                                        <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mx-md-4"> </i></a>
                                        <!--Instagram-->
                                        <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mx-md-4"> </i></a>
                                        <!--Pinterest-->
                                        <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text ml-md-4"> </i></a>
                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->

                        </div>
                        <!--/Footer Links-->

                        <!--Copyright-->
                        <div class="footer-copyright" style="background-color: #663399" style="text-align:center">
                            <div class="container-fluid">
                                © 2021 Copyright: <a href="https://www.MDBootstrap.com"> Mobikart.com </a>
                            </div>
                        </div>
                        <!--/Copyright-->

                    </footer>
                    <!--/Footer-->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-4">

        </div>
</div>



{% endblock %}